<div class="container">
    <h1 class="titulo_1" [@fadeInOut]>Jerarquias Axo</h1>
    <div class="card" *ngIf="jerarquias.length > 0" [@fadeInOut]> 
        <div class="filtro">
            <label for="">Jerarquia | Nivel 1</label>
            <select name="canal" id="" [(ngModel)]="n1_jerarquia" class="custom-select" (change)="filtrado_bu()">
                <option value="todas">Todas los opciones</option>
                <option [value]="n1.N1_Jerarquia" *ngFor="let n1 of n1_jerarquias">{{n1.N1_Jerarquia_L}}</option>
            </select>
        </div>
        <hr>
        <table>
            <thead>
              <tr>
                <th>Jerarquia Axo</th>
                <th>Nivel 1</th>
                <th>Nivel 2</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let jerarquia of jerarquias_f; let i = index">
                <td>{{jerarquia.Jerarquia_Axo}}</td>
                <td>{{jerarquia.N1_Jerarquia_L}}</td>
                <td>{{jerarquia.N2_Jerarquia_L}}</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
