* {
  box-sizing: border-box;
}

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
  height: 100vh;
  overflow: hidden;
}



.custom-select {
  background-color: #f2f2f2;
  border: 2px solid #ccc;
  padding: 5px;
  font-size: 0.9em;
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  text-overflow: ellipsis;
}

/* Estilo del ícono (puedes utilizar una fuente de iconos o una imagen) */
.custom-select::after {
  content: "\25BC";
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Estilo del hover */
.custom-select:hover {
  background-color: #F5F5F5;
  border-color: #999;
}

/* Estilo del focus */
.custom-select:focus {
  outline: none;
  border-color: #0D47A1;
}


/* Estilo de la opción seleccionada */
.custom-select option:checked {
  background-color: #0D47A1;
  color: #fff;
}





input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
  width: 100%;
  padding: px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

/* Cambiar el color del borde cuando el input está enfocado */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus {
  border-color:rgba(8,45,102,1)
}

button {
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Estilo para el botón primario */
button.primary {
  background-color:rgba(8,45,102,1);
  color:white;
}

button.primary:disabled{
  background-color: rgba(176, 185, 197, 0.867);
}

/* Estilo para el botón secundario */
button.secondary {
  background-color: #ccc;
}

/* Cambiar el color del botón cuando está en hover (puntero encima) */
button:hover {
  background-color: rgb(7, 33, 73);
}




.ajs-error{
  color: white !important;
  
  box-shadow: -1px 23px 51px -3px rgba(0,0,0,1) !important;
  -webkit-box-shadow: -1px 23px 51px -3px rgba(0,0,0,1) !important;
  -moz-box-shadow: -1px 23px 51px -3px rgba(0,0,0,1) !important;
  width: 300px !important;
  left: -300px;
  bottom: 15px;
}

.ajs-success{
  color: white !important;
  background-color: #0bb753 !important;
  border-radius: 10px;
  
  box-shadow: -1px 23px 51px -3px rgba(0,0,0,1) !important;
  -webkit-box-shadow: -1px 23px 51px -3px rgba(0,0,0,1) !important;
  -moz-box-shadow: -1px 23px 51px -3px rgba(0,0,0,1) !important;
  width: 300px !important;
  left: -300px;
  bottom: 15px;
}





// ----------------

.container{
    
  display: flex;
  flex-direction: column;
  // overflow: auto;

  .titulo_1{
      margin-top: 0;
      color: #828181;
      font-size: 2em;
      font-weight: 300;
      letter-spacing: 10px;
  }

  .filtro{
      width: 20%;
  }

  .card{
      padding: 20px;
      border-radius: 20px;
      background-color: white;
      padding-bottom: 40px;
      height: 100%;
      overflow: auto;
      
      // transition: 1;

      display: flex;
      flex-direction: column;
      gap: 10px;

      -webkit-box-shadow: 0px 1px 5px 1px rgba(224,224,224,0.77);
      -moz-box-shadow: 0px 1px 5px 1px rgba(224,224,224,0.77);
      box-shadow: 0px 1px 5px 1px rgba(224,224,224,0.77);

      hr{
          border-color: #f5f5f59c;
          width: 100%;
      }

      label{
          display: block;
          margin-top: 0px;
          margin-bottom: 5px;
          color: #757575;
          font-weight: 400;
          font-size: 0.9em;
      }

      table {   
          border-collapse: collapse;
          width: 100%;
      }
        
      th, td {
          border: 1px solid #ddd;
          padding: 5px;
          text-align: left;
      }
        
      th {
          background-color: #f2f2f2;
          text-align: center;
          font-weight: 500;
          font-size: 0.9em;
      }

      th.jerarquia{
          width: 15%;
      }
      th.gparticulo{
          width: 15%;
      }
      th.jerarquia_l{
          width: 25%;
      }
      th.n1{
          width: 20%;
      }
      th.n2{
          width: 20%;
      }
      th.guardar{
          width: 5%;
      }
      
      td{
          font-size: 0.9em;
          font-weight: 400;
      }
      td.jerarquia, td.gparticulo, td.guardar{
          text-align: center;
      }

      .primary{
          padding: 5px;
          margin: 0px;
      }
    
      tr:hover {
      background-color: #ddd;
      }
      
      .custom-input {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      }
      
      .centro{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-left: 20px;
          padding-right: 20px;
      }
      
      .centro:hover{
          background-color: #EEEEEE;
      }

  }

  
 
}